/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  background-color: #362C30;
  color: white;
 }


.container{
  background-color: #362C30;
  width: 70%;
  margin: auto;

}

.header_button{
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 150px;

}

.photo_container{
  background-color: #6B5C61;
  width: 640px;
  float: left;
  display: inline-block;  
  border-radius: 10px;
  
  
}

.photo{
  width: 140px;
  display: inline-block;
  
  margin: 5px;
  
  float: left;


}
.info{
  color: white;
  font-size: 10px;
  display: inline-block;
}

img{
  border: 3px solid #362C30;
  padding: 0px;
  margin: 3px;

}


a{
  text-decoration: none;
  color: white;
}

.upload_box{
  background-color: #6B5C61;
  border-radius: 10px;
  float:right;
  width: 320px;

}