

.most_recent{
  display: block;
  background-color: #6B5C61;
  width: 640px;
  float: left;
  display: inline-block;  
  border-radius: 10px;
  margin-bottom: 20px;


}

.recent_pic{
  
  width: 140px;
  float: left;
  display: inline-block;
  margin: 5px;

}

.center{
  margin: auto;
}


.photo_container{
  background-color: #6B5C61;
  width: 640px;
  float: left;
  display: inline-block;  
  border-radius: 10px;
  
  
}

.photo {
  width: 140px;
  display: inline-block;
  
  margin: 5px;
  
  float: left;


}

.db_info{
  clear: both;
}

.upload_box{
  background-color: #6B5C61;
  border-radius: 10px;
  float:right;
  width: 320px;

}

.standard{
  display: block;
  clear: both;
  margin: auto;

}

#navs{
  clear: both;
  display: block;
}