

.most_recent{
  display: block;
  background-color: #6B5C61;
  width: 640px;
  float: left;
  display: inline-block;  
  border-radius: 10px;
  margin-bottom: 20px;


}

.recent_pic{
  
  width: 140px;
  float: left;
  display: inline-block;
  margin: 5px;

}

.recent_pic img:hover{
  box-shadow: 0px 0px 3px 3px #E6E6E6;
}

.center{
  margin: auto;
}


.photo_container{
  background-color: #6B5C61;
  width: 640px;
  float: left;
  display: inline-block;  
  border-radius: 10px;
  
  
}

.photo {
  width: 140px;
  display: inline-block;
  margin: 5px;
  float: left;


}

.photo img {
  border: 3px solid #362C30;
  padding: 0px;
  margin: 3px;
  height: 100px;
}

.photo img:hover{
  box-shadow: 0px 0px 3px 3px #E6E6E6;
}


.db_info{
  clear: both;
}

.upload_box{
  background-color: #6B5C61;
  border-radius: 10px;
  float:right;
  width: 220px;
  margin-left: 20px;
}

.upload_box p{
  margin-left: 5px;
}
.upload_title {
  text-align: center;
}

.standard{
  display: block;
  clear: both;
  margin: auto;

}

#navs{
  clear: both;
  display: block;
}